html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.UserInfo{
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    max-height: 39vw;
    max-width: 55vw;
    width: 100%;
    font-size: 1rem;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    box-shadow: 10px 10px gray;
    padding-left: 10px;
    margin-left: 5px;
}

#ImagenPerfil{
    border-radius: 20% 0 0 0;
    width: 30vw;
    height: 40vw;
}

.Nombre{
    color: orange;
    height: 1px;
    font-size: 1.5em;
}

#Descripcion{
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.0em;
}

#Lenguajes{
    font-weight: bold;
    font-size: 1.0em;
}

a{
    color: orange;
    font-size: 1.0em;
}

.visited{
    color: red;
}

.Body{
    flex-direction: column;
    display: block;
}

nav{
    display: flex;
    background-color: lightblue;
    width: 100vw;
}

nav ul{
    width: 100vw;
    height: 5vh;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-left: 1%;
    justify-content: space-evenly;
}

nav ul li{
    width: 33%;
    align-self: center;
    display: inline;
    text-align: center;
    color: white;
    font-size: 2.2rem;
}

input{
    width: 10vw;
    font-size: 2.2rem;
}

button{
    width: 15vw;
    font-size: 2.2rem;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    list-style: none;
}

section li {
    min-width: 300px;
    max-width: 300px; 
    margin-top: 10px;
    margin-left: 10px;
}

.User{
    width: 20vw;
    min-width: 300px;
    display: block;
    color:#6ea3da;
    font-weight: bold;
    font-size: 18px;
    background-color: #f5f7f9;
    align-items: center;
    justify-items: center;
    box-shadow: 2px 2px gray;
    font-family: Arial, Helvetica, sans-serif;
}

.User:hover{
    transform: scale(1.1);
    background-color: #99c5dd;
    transform: rotate(10deg);
}

.User img{
    margin-top: 15px;
}

#NoResultsFound{
    font-size: 2.0rem;
    color: #6ea3da;
}

footer {
    width: 100%;
    height: 11vh;
    background-color: #87b1ef;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 320px) and (max-width: 480px) {
    html{
        font-size: 1.3vw;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    html{
        font-size: 1.35vw;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    html{
        font-size: 11px;
    }

    .UserInfo{
        max-height: 300px;
    }

    #ImagenPerfil{
        max-height: 306px;
        max-width: 300px;
    }
}

@media (min-width: 1025px){
    html{
        font-size: 12px;
    }

    .UserInfo{
        max-height: 300px;
    }

    #ImagenPerfil{
        max-height: 306px;
        max-width: 300px;
    }
}